:root {
    --clr-primary: #21AAE2;
    --clr-secondary: #E02386;
    --clr-white: #ffffff;
    --clr-black: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');



.reviews-container {
    grid-column: 2/12;
}

.reviews-box {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: baseline; */
}


.review-card {
    width: 450px;
    border: 1px solid var(--clr-primary);
    /* flex-grow: 1; */
    border-radius: 10px;
    padding: 1.25rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    transition: all 0.3s ease-in;
}

.review-card:hover {
    box-shadow: 1px 2px 5px rgba(33, 170, 226, 0.5);
}

.rc-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.rc-user {
    display: flex;
}

.rc-user>img {
    border-radius: 50%;
    width: 50px;
    margin-right: 1rem;
}

.review-card p {
    font-size: 14px;
}

.review-card>.rc-para {
    margin-bottom: 0.5rem;
}

.rc-close>h3 {
    margin-bottom: 0;
}

.pros,
.cons {
    display: flex;
    align-items: center;
}

.pros {
    margin-bottom: 0.25rem;
}

.pros>i,
.cons>i {
    margin-right: 1rem;
}

@media screen and (max-width: 1000px) {}