:root {
    --clr-primary: #21AAE2;
    --clr-secondary: #E02386;
    --clr-white: #ffffff;
    --clr-black: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


.news-container {
    grid-column: 2/12;
}


.news-box {
    border: 1px solid var(--clr-primary);
    border-radius: 15px;
    padding: 1.25rem;
    margin-bottom: 1rem;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.news-box .nc-square {
    height: 75px;
    width: 75px;
    margin: 0;
}

.nb-title {
    margin-bottom: 1rem;
}

.nb-title h3 {
    margin: 0 0 0 1rem;
}

.nb-title {
    display: flex;
    align-items: center;
}

.news-box .news-card {
    padding: 0;
}

.nb-text>p {
    margin-bottom: 1rem;
}

.nb-text {
    margin: 0 6rem 2rem 0;
}

.nb-content {
    display: flex;
}

.nb-images {
    display: flex;
    flex-wrap: wrap;
}

.nb-images>img {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin-right: 1rem;
    border: 1px solid var(--clr-secondary);
    object-fit: cover;
}

.news-card i,
.news-card a {
    color: var(--clr-white);
}



.news-box .news-card {
    background-color: transparent;
    color: var(--clr-white);
}


@media screen and (max-width: 1000px) {
    .news-box {
        display: flex;
        flex-direction: column;
    }

    .nb-content {
        flex-direction: column;
    }

    .nb-text {
        margin-right: 0;
    }

    .nb-text p {
        max-width: 100%;
    }

    .news-card {
        margin-right: none;
    }

    .nb-images>img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .nb-images>img:last-of-type {
        margin-bottom: 0;
    }

}