:root {
    --clr-primary: #21AAE2;
    --clr-secondary: #E02386;
    --clr-white: #ffffff;
    --clr-black: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


.zd-container {
    grid-column: 2/12;
}

.zd-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.zd-card {
    max-width: 30%;
    /* min-width: 300px; */
    border-radius: 10px;
    border: 1px solid var(--clr-primary);
}

.zd-card>img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 150px;
    object-fit: cover;
}

.zd-content {
    padding: 1.25rem;
}

.zd-content>p {
    margin-bottom: 1rem;
}

.zd-content ul li {
    color: var(--clr-secondary);
}

.zd-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.zd-item {
    padding: 0.5rem 0.5rem;
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    border-radius: 5px;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.zd-sizes {
    justify-content: space-between;
    /* text-align: center; */
}

.zd-letter {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

@media screen and (max-width: 800px) {
    .zd-box {
        flex-direction: column;
    }

    .zd-card {
        max-width: none;
        width: 100%;
        margin-bottom: 1rem;
    }

}