:root {
    --clr-primary: #21AAE2;
    --clr-secondary: #E02386;
    --clr-white: #ffffff;
    --clr-black: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


.container {
    grid-column: 2/12;
}

.box {
    display: flex;
}

.card {
    border: 1px solid var(--clr-primary);
    width: 400px;
    border-radius: 10px;
    margin: 0 2rem 2rem 0;
}

.content {
    padding: 2rem;
}

.content>p {
    margin-bottom: 1rem;
}

.card>img {
    height: 200px;
    width: 100%;
}