:root {
    --clr-primary: #21AAE2;
    --clr-secondary: #E02386;
    --clr-white: #ffffff;
    --clr-black: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
}

body>* {
    overflow: hidden;
    word-wrap: break-word;
}


section {
    padding: 2rem;
    /* margin-bottom: 3rem; */
}


.logo {
    width: 200px;
}

/* TEXT */

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--clr-white);
}

h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

a {
    color: var(--clr-primary);
    font-size: 14px;
}

p {
    max-width: 50ch;
    line-height: 17px;
    font-size: 14px;
}

.text-primary {
    color: var(--clr-primary);
}

.text-secondary {
    color: var(--clr-secondary);
}

.text-bold {
    font-weight: 600;
}

.icon {
    width: 1.25rem;
}

i {
    font-size: 1.25rem;
    margin-right: 1rem;
}

/* BUTTONS */

.btn {
    background-color: var(--clr-black);
    color: var(--clr-white);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn.btn-primary:hover {
    box-shadow: 1px 2px 5px rgba(33, 170, 226, 0.5);
}

.btn.btn-secondary:hover {
    box-shadow: 1px 2px 5px rgba(224, 35, 134, 0.5);
}

.btn-like {
    background-color: var(--clr-black);
    color: var(--clr-white);
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn-like.btn-primary:hover {
    box-shadow: 1px 2px 5px rgba(33, 170, 226, 0.5);
}

.btn-like.btn-secondary:hover {
    box-shadow: 1px 2px 5px rgba(224, 35, 134, 0.5);
}

.btn-primary {
    background-color: var(--clr-primary);
}

.btn-secondary {
    background-color: var(--clr-secondary);
}


/* GENERAL */

ul {
    list-style: none;
    padding: 0;
}

ul>li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

ul>li>p>span {
    margin-bottom: 1rem;
}

ul>li>img {
    margin-right: 1rem;
}

/* HEADER */

header {
    grid-column: 2/12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

header>* {
    width: calc(100%/3);
}

.hamburger-icon {
    height: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}


.hamburger-line {
    background-color: var(--clr-primary);
    width: 2rem;
    height: 4px;
    border-radius: 15px;
    transition: all 0.3s ease-in;
}

.hamburger-icon:hover>.hamburger-line {
    background-color: var(--clr-secondary);
}

header>a {
    width: 200px;
    display: flex;
    justify-content: center;
}


.signing-options {
    display: flex;
    justify-content: flex-end;
}

.signing-options>a.btn-secondary {
    margin-right: 1rem;
}



.hamburger-menu {
    position: fixed;
    background-color: var(--clr-white);
    color: var(--clr-black);
    height: 90vh;
    width: 300px;
    top: 0;
    left: 0;
    padding: 5vh 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in;
    border-right: 2px solid var(--clr-secondary);
}


.hidden {
    left: -500px;
    transition: all 0.5s ease-in;
}

.hamburger-menu>i {
    font-size: 2.5rem;
    cursor: pointer;
    margin-top: 1rem;
    align-self: flex-end;
    transition: all 0.3s ease-in;
}

.hamburger-menu>i:hover {
    color: var(--clr-primary);
}

.hamburger-menu>ul>li>a {
    color: var(--clr-primary);
    text-decoration: none;
    font-weight: 500;

}

.hamburger-menu .signing-options {
    justify-content: flex-start;
}



/* FOOTER */

footer {
    display: grid;
    grid-column: 1/13;
    grid-template-columns: subgrid;
    padding: 3rem 0 2rem 0;
    border-top: 0px solid var(--clr-primary);
    font-size: 14px;
}

.footer-links {
    margin-left: 5rem;
}

.fl-divider {
    display: flex;
}

.fl-divider>div:first-of-type {
    margin-right: 1rem;
}

.fl-divider li {
    margin-bottom: 0.5rem;

}

.fl-divider li a {
    transition: all 0.3s ease-in;
}

.fl-divider li a:hover {
    color: var(--clr-secondary);
}

footer>a {
    grid-column: 2/4;
    margin-bottom: 2rem;
}

.footer-contact {
    grid-column: 2/12;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    word-wrap: break-word;
    /* justify-content: space-between; */
}

.footer-contact>li {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.footer-contact>li>p {
    margin-bottom: 1rem;
    width: 25ch;
}

.footer-contact>li>ul p {
    width: 21ch;
}



/* GENERAL REPETIVE ACTIONS */

/* .left {
    grid-column: 1/12;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.right {
    grid-column: 2/13;
    background-color: var(--clr-secondary);
} */



/* TRIP SECTION */

.news {
    grid-column: 1/12;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    display: grid;
    grid-template-columns: subgrid;
}

.news>h2,
.news-cards {
    grid-column: 2/11;
}

.news>a {
    grid-column: 2/5;
    text-align: center;

}

.news-cards {
    display: flex;
    flex-wrap: wrap;
}

.news-card {
    width: 450px;
    background-color: var(--clr-white);
    color: var(--clr-black);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.news-card i {
    color: var(--clr-primary);
}

.news-card h3 {
    color: var(--clr-secondary);
}

/* .nc-content i {
    color: var(--clr-secondary);
} */

.nc-square {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin-right: 3rem;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nc-content p {
    font-size: 14px;
}


.h-mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    body {
        display: block;
    }

    section {
        border-radius: 0;
        padding: 3rem 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    header {
        justify-content: center;
        margin-bottom: 2rem;
    }

    header>.signing-options {
        display: none;
    }

    .hamburger-menu {
        z-index: 100;
    }

    header>.hamburger-icon {
        position: absolute;
        left: 10vw;
        z-index: 1;
    }

    footer {
        display: block;
        padding: 3rem 1.5rem;
    }

    footer .logo {
        margin-bottom: 1rem;
    }

    footer>a {
        text-align: center;
    }

    .footer-links {
        margin-left: 0;
    }

}


@media screen and (max-width: 600px) {
    .logo {
        width: 100px;
    }

    .h-pc {
        display: none;
    }

    .h-mobile {
        display: block;
    }

    .hamburger-icon {
        scale: 0.8;
    }


}